{% load static %}

    <!-- Header o Cabecera-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Sierra Tours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href={% static "SierraWeb/css/styles.css" %}>
     <link rel="stylesheet" href={% static "SierraWeb/css/normalize.css" %}>
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="shortcut icon" href={% static "SierraWeb/img/favicon.ico" %}/>
    <link rel="stylesheet" href={% static "SierraWeb/css/all.min.css" %}>
</head>

<body>
    <header class="fondo-cabecera">
        <div class="cabecera">
            <div class="contenido-barra">
                <a href="/#/">
                <img class="logo" src={% static "SierraWeb/img/logo.png" %} alt="Logo Sierra Tours">
                </a>
                <span class="titulo t-letra2">Sierra Tours</span>
                <div>
                 <label class="stroke2" style="font-size: 18pt;">Usuario: <span class="stroke" style="font-size: 16pt;">Invitado</span></label>
                </div>
            </div>
            <div class="menu-movil">
                <a href="#"><i class="fas fa-bars"></i></a>
             </div>
        <div id="header" >
            <ul class="nav">                    
                  <li><a href="/#/"> Inicio</a></li>

                <li><a herf="#">Destinos</a>
                    <ul>
                        <li><a herf="#">Madera</a>        
                            <ul>
                                <li><a href="/huapoca/"> Huapoca</a></li>
                            </ul>
                        </li>
                    
                        <li class="p-creel"><a herf="">Sierra Tarahumara</a>
                            <ul> 
                                <li><a href="/creel/">Creel</a></li>
                                <li><a href="/barrancas/">Barrancas del Cobre</a></li> 
                                <li><a href="/recowata/">Recowata</a></li>  
                            </ul>  
                        </li>
                </li>         
        </ul>
        <li><a href="/registro/">Registrarse</a></li>
                <li><a href="/login/">Iniciar Sesion</a></li>
                <li><a href="/nosotros/">Nosotros</a></li>
                <li><a href="/contacto/">Contacto</a></li>
        </div>
    </div>
 </header>

  <!-- Contenido Cambiante -->
    {% block content %}


    {% endblock %}

 
    <!-- Footer o pie de pagina-->
    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                <a href="/#/">Inicio</a>
                <a href="/registro/">Registrarse</a>
                <a href="/login/">Iniciar Sesion</a>
                <a href="/nosotros/">Nosotros</a>
                <a href="/contacto/">Contacto</a>
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2020 &copy;</p>
        </div>
    </footer>

    <script src={% static "SierraWeb/js/jquery.js" %}></script>
    <script src={% static "SierraWeb/js/animaciones.js" %}></script>

</body>

</html>