{% load static %}

    <!-- Header o Cabecera-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href={% static "SierraWeb/css/styles.css" %}>
     <link rel="stylesheet" href={% static "SierraWeb/css/normalize.css" %}>
     <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link rel="shortcut icon" href={% static "SierraWeb/img/favicon.ico" %}/>
    <link rel="stylesheet" href={% static "SierraWeb/css/all.min.css" %}>
</head>

<body>
               
    <header class="fondo-cabecera">
        <div class="cabecera">
            <div class="contenido-barra">
                <a href="/#/">
                <img class="logo" src={% static "SierraWeb/img/logo.png" %} alt="Logo Sierra Tours">
                </a>
                <span class="titulo t-letra2">Sierra Tours</span>
                {% if Usuario %}
                <div class="contendor-inf-usuario">
                    <label class="stroke2" style="font-size: 18pt;">Usuario: <span class="stroke" style="font-size: 16pt;">{{Usuario}}</span></label>
                    <a class="btn-logout" href="{% url 'logout' %}">Cerrar Sesion</a>
                </div>
                {% else %}
                <div>
                    <label class="stroke2" style="font-size: 18pt;">Usuario: <span class="stroke" style="font-size: 16pt;">Invitado</span></label>
                </div>
                {% endif %}
            </div>
            <div class="menu-movil">
                <a href="#"><i class="fas fa-bars"></i></a>
             </div>
        <div id="header" >
            <ul class="nav">                    
                  <li><a href="/#/"> Inicio</a></li>

                <li><a herf="#">Destinos</a>
                    <ul>
                        <li><a herf="#">Madera</a>        
                            <ul>
                                <li><a href="/huapoca/"> Huapoca</a></li>
                            </ul>
                        </li>
                    
                        <li class="p-creel"><a herf="">Sierra Tarahumara</a>
                            <ul> 
                                <li><a href="{% url 'creel' %}">Creel</a></li>
                                <li><a href="{% url 'barrancas' %}">Barrancas del Cobre</a></li> 
                                <li><a href="{% url 'recowata' %}">Recowata</a></li>  
                            </ul>  
                        </li>
                </li>         
        </ul>
              
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li> 
                {% if Usuario %}
                {% else %}    
                <li><a href="/login/">Iniciar Sesion</a></li> 
                <li><a href="/registro/">Registrarse</a></li>
                {% endif %}
        </div>
    </div>
 </header>

  <!-- Contenido Cambiante -->
   {% block body %}


    {% endblock %}

 
    <!-- Footer o pie de pagina-->
    <footer class="footer seccion">
        <div class="contenedor contenedor-footer">
            <nav class="navegacion">
                {% if Usuario %}
                <a href="/#/">Inicio</a>
                <a href="/nosotros/">Nosotros</a>
                <a href="/contacto/">Contacto</a> 
                {% else %} 
                <a href="/registro/">Registrarse</a>
                <a href="/login/">Iniciar Sesion</a>
                {% endif %}
            </nav>
            <p class="copyright">Todos los Derechos Reservados 2020 &copy;</p>
        </div>
    </footer>

    <script src={% static "SierraWeb/js/jquery.js" %}></script>
    <script src={% static "SierraWeb/js/animaciones.js" %}></script>

</body>

</html>