{% extends "SierraWeb/base.html" %}

{% load static %}

{% block content %}

    <h1 class="centrar-texto tamaño-titulo">Huapoca Madera</h1>
    <div class="imagenes" >
        <iframe width="990" height="390" src="https://www.youtube.com/embed/SMh0pyt2A3k?controls=0loop=1&playlist=SMh0pyt2A3k" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen></iframe>   
    </div>


        
<main class="contenedor">
    <div class="informacion">
        <p class="cuerpo1">
            Es un sitio arqueológico ubicado 36 kilómetros al oeste de la ciudad de Madera, siguiendo una carretera de terracería, 
            en las inmediaciones del Cañón Huápoca, a tres kilómetros del Río Papigochi, en el oeste del estado mexicano de Chihuahua.
            <br>
            Cuenta con un manantial de Aguas Termales a la orilla del Río Papigochi, al fondo de la Barranca de Huápoca.
            <br>
            Antes de cruzar el puente de Huápoca, un camino desciende hasta a la orilla del río y termina en un manantial 
            de aguas termales; el líquido brota de una grieta en un conglomerado rocoso a una temperatura muy agradable y 
            baja directamente al río formado en su curso una pequeña cascada y varias pozas pequeñas. Un amplio arenal junto a 
            la orilla del río hace más atractivo el sitio.
            <br>
            Actualmente el manantial está acondicionado como balneario y cuenta con dos espaciosas albercas y un tobogán.
        </p>
            <img  src={% static "SierraWeb/img/huapocabaner2.png" %} width="400" height="300" style="border-radius: 15px;">
    </div>


    <div class="actividades">
        <h2 class="caja">ACTIVIDADES</h2>

         <div class="acomodar">
             <img style="border-radius: 15px;" src= {% static "SierraWeb/img/huap4.jpg" %}>
                 <div class="info-paquete">
                    <h3> Tour Puente Colgante</h3>
                       <p></p>      
                       <ul>                                
                            <li>Edades: 18+</li>
                            <li>Duración: 8 Horas</li>
                            <li>Disponibilidad: Diaria</li>
                            <li>Horarios: 09:00 am a 09:00 pm</li>
                       </ul>                    
                </div> 
                
                <div class="inf-pago">
                        <h3>Tour Puente Colgante</h3> 
                         <div class="info-paquete">
                          <ul>
                              <li> Desde $ 500 MXN </li>
                          </ul>  
                       </div>
                        
                   <form name="form1" method="GET" action="/pasarela/" id="1" >
                    {% csrf_token %}

                    <button    class="zoom1"  style="border-radius: 15px;" name="1" value='1' onclick="alerta()">
                        RESERVAR
                        
                    </button>
                   
                    <input  type="hidden"  class="zoom1"  style="border-radius: 15px;" name="1" value='1' onclick="alerta()">
                        
                        
                   </imput>
                    
                  </form>
                 
                 
                 
              
                </div>   
            </div>


            <div class="acomodar">
                <img style="border-radius: 15px;" src={% static "SierraWeb/img/huap3.png" %}>
                    <div class="info-paquete">
                       <h3> Tour Cotorra Serrana</h3>
                          <p></p>      
                          <ul>
                               <li>Edades: Cualquiera</li>
                               <li>Duración: 1 Dia</li>
                               <li>Disponibilidad: Diaria</li>
                               <li> Horarios: 09:30 am a 05:40 pm</li>
                          </ul>                    
                   </div> 
                   
                   <div class="inf-pago">
                           <h3>Tour Cotorra Serrana</h3> 
                            <div class="info-paquete">
                             <ul>
                                 <li> Desde $ 500 MXN </li>
                             </ul>  
                          </div>
                           
                          <form name="form2"  method="GET" action="/pasarela/">  
                            {% csrf_token %}
                            <button    class="zoom1"  style="border-radius: 15px;" name="1" value='2' onclick="alerta2()">
                                RESERVAR
                                
                            </button>
                           
                            <input  type="hidden"  class="zoom1"  style="border-radius: 15px;" name="1" value='2' onclick="alerta()">
                                
                          </form>
                       
                   </div>   
               </div>




           
            <div class="acomodar">
                <img style="border-radius: 15px;" src={% static "SierraWeb/img/huap2.png" %}>
                    <div class="info-paquete">
                       <h3>Toboganes</h3>
                          <p></p>      
                          <ul>
                               <li>Edades: Maxima 80 Años</li>
                               <li>Duración: 3 Horas</li>
                               <li> Disponibilidad: Diaria</li>
                               <li> Horarios: 09:00 am a 09:30 pm</li>
                          
                          </ul>                    
                   </div> 
                   
                   <div class="inf-pago">
                           <h3>Toboganes</h3> 
                            <div class="info-paquete">
                             <ul>
                                 <li> Desde $ 250 MXN </li>
                    
                             </ul>  
                          </div>
                           
                     
                          <form name="form3"  method="GET" action="/pasarela/">  
                            {% csrf_token %}
                            <button    class="zoom1"  style="border-radius: 15px;" name="1" value='3' onclick="alerta3()">
                                RESERVAR
                                
                            </button>
                           
                            <input  type="hidden"  class="zoom1"  style="border-radius: 15px;" name="1" value='3' onclick="alerta()">
                                
                          </form>
                       
                   </div>   
               </div>

      </div>        
 </main>  
 <script>
    function alerta(){
        event.preventDefault()
    Swal.fire({
  title: 'Deseas Reservar?',                   
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Reservar Ahora!'
  }).then((result) => {
  if (result.isConfirmed) {
      document.form1.submit();
      
   }
return false;
  })}

  function alerta2(){
        event.preventDefault()
    Swal.fire({
  title: 'Deseas Reservar?',                   
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Reservar Ahora!'
  }).then((result) => {
  if (result.isConfirmed) {
      document.form2.submit();
   }
return false;
  })}

  function alerta3(){
        event.preventDefault()
    Swal.fire({
  title: 'Deseas Reservar?',                   
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Reservar Ahora!'
  }).then((result) => {
  if (result.isConfirmed) {
      document.form3.submit();
   }
return false;
  })}
</script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

 {% endblock %}