{% extends "SierraWeb/base.html" %}

{% load static %}

{% block title %}Recowata{% endblock %}

{% block body %}

    <h1 class="centrar-texto tamaño-titulo">Aguas termales Rekowata</h1>
    <div  class="imagenes">

        <taable align="center">
            <tr>
                <td >
                    <iframe width="990" height="390" src="https://www.youtube.com/embed/V-Jxows1bDw?controls=0loop=1&playlist=V-Jxows1bDw" 
                     frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; 
                     picture-in-picture" allowfullscreen></iframe>
                </td>
               
            </tr>
        </taable>
    </div>


        
<main class="contenedor">
    <div class="informacion">
        <p class="cuerpo1">
            Al fondo de la barranca de Tararecua las aguas termales del manantial Recowata, con temperatura de 35 
            grados centígrados durante todo el año, forman un hermoso manantial rodeado por un tupido bosque de pinos, 
            álamos y encinos y un paisaje que invita a echarse un chapuzón después de descender a pie cerca de mil 
            200 metros de sinuoso camino empedrado en plena Sierra Tarahumara.
        </p>
        
            <img  src={% static "SierraWeb/img/recowata/recowata6.jpg" %} width="400" height="300" style="border-radius: 15px;">
        
    </div>


    <div class="actividades">
        <h2 class="caja">ACTIVIDADES</h2>

         <div class="acomodar" >
             <img style="border-radius: 15px;" src= {% static "SierraWeb/img/recowata/reco1.jpg" %}>
                 <div class="info-paquete">
                    <h3> Recorrido Mágico</h3>
                       <p></p>      
                       <ul>                                
                            <li>Edades: Todas</li>
                            <li>Duración: 5 Horas</li>
                            <li>Disponibilidad: Diaria</li>
                            <li>Horarios: 07:00 am a 011:00 pm</li>
                       </ul>                    
                </div> 
                
                <div class="inf-pago">
                        <h3>Recorrido Mágico</h3> 
                         <div class="info-paquete">
                          <ul>
                              <li> Desde $ 200 MXN </li>
                          </ul>  
                       </div>
                        
                       <form name="form1"  method="GET" action="/pasarela/">  
                        {% csrf_token %}
                        <button    class="zoom1"  style="border-radius: 15px;" name="1" value='10' onclick="alerta()">
                            RESERVAR
                            
                        </button>
                       
                        <input  type="hidden"  class="zoom1"  style="border-radius: 15px;" name="1" value='10' onclick="alerta()">
                            
                      </form>
                 
              
                </div>   
            </div>


            <div class="acomodar">
                <img style="border-radius: 15px;" src={% static "SierraWeb/img/recowata/reco2.jpg" %}>
                    <div class="info-paquete">
                       <h3> Excursión en Bicicleta</h3>
                          <p></p>      
                          <ul>
                               <li>Edades: Cualquiera</li>
                               <li>Duración: 1 Dia</li>
                               <li>Disponibilidad: Diaria</li>
                               <li> Horarios: 09:30 am a 05:40 pm</li>
                          </ul>                    
                   </div> 
                   
                   <div class="inf-pago">
                           <h3>Excursión en Bicicleta</h3> 
                            <div class="info-paquete">
                             <ul>
                                 <li> Desde $ 500 MXN </li>
                             </ul>  
                          </div>
                           
                          <form name="form2"  method="GET" action="/pasarela/">  
                            {% csrf_token %}
                            <button    class="zoom1"  style="border-radius: 15px;" name="1" value='11' onclick="alerta2()">
                                RESERVAR
                                
                            </button>
                           
                            <input  type="hidden"  class="zoom1"  style="border-radius: 15px;" name="1" value='11' onclick="alerta()">
                                
                          </form>
                       
                   </div>   
               </div>




           
            <div class="acomodar">
                <img style="border-radius: 15px;" src={% static "SierraWeb/img/recowata/reco3.jpg" %}>
                    <div class="info-paquete">
                       <h3>Aguas Termales</h3>
                          <p></p>      
                          <ul>
                               <li>Edades: Cualquiera</li>
                               <li>Duración: Todo el dia</li>
                               <li> Disponibilidad: Diaria</li>
                               <li> Horarios: Todo el dia</li>
                          
                          </ul>                    
                   </div> 
                   
                   <div class="inf-pago">
                           <h3>Aguas Termales</h3> 
                            <div class="info-paquete">
                             <ul>
                                 <li> Desde $ 800 MXN </li>
                    
                             </ul>  
                          </div>
                           
                     
                          <form name="form3"  method="GET" action="/pasarela/">  
                            {% csrf_token %}
                            <button    class="zoom1"  style="border-radius: 15px;" name="1" value='12' onclick="alerta3()">
                                RESERVAR
                                
                            </button>
                           
                            <input  type="hidden"  class="zoom1"  style="border-radius: 15px;" name="1" value='12' onclick="alerta()">
                                
                          </form>
                       
                   </div>   
               </div>

      </div>        
 </main> 
 <script>
    function alerta(){
        event.preventDefault()
    Swal.fire({
  title: 'Deseas Reservar?',                   
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Reservar Ahora!'
  }).then((result) => {
  if (result.isConfirmed) {
      document.form1.submit();
      
   }
return false;
  })}

  function alerta2(){
        event.preventDefault()
    Swal.fire({
  title: 'Deseas Reservar?',                   
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Reservar Ahora!'
  }).then((result) => {
  if (result.isConfirmed) {
      document.form2.submit();
   }
return false;
  })}

  function alerta3(){
        event.preventDefault()
    Swal.fire({
  title: 'Deseas Reservar?',                   
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Reservar Ahora!'
  }).then((result) => {
  if (result.isConfirmed) {
      document.form3.submit();
   }
return false;
  })}
</script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>  

 {% endblock %}