{% load static %}
<!DOCTYPE html>

<html lang="es">
  
<head>
    <meta charset="UTF-8">
    <title>Sierra Tours</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
     <link rel="stylesheet" href={% static "SierraWeb/css/styles.css" %}>
     <link rel="stylesheet" href={% static "SierraWeb/css/normalize.css" %}>
     <link rel="shortcut icon" href={% static "SierraWeb/img/favicon.ico" %}>
     <link rel="stylesheet" href={% static "SierraWeb/css/all.min.css"%}>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
     
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
   $(document).ready(function(){
$("button.get-name").click(function(){
    var name = $("Registro exitoso, felicidades" +"#name").val();
    alert(name);
});
   });
</script>
<div class="contenido-barra">
    <a href="/#/">
    <img class="logo" src={% static "SierraWeb/img/logo.png" %} alt="Logo Sierra Tours">
    </a>
    <span class="titulo t-letra2">Sierra Tours</span>
    <div>
     <label class="stroke2" style="font-size: 18pt;">Usuario: <span class="stroke" style="font-size: 16pt;">Invitado</span></label>
    </div>
</div>
<body class="fondo">
    <div class="menu-movil">
        <a href="#"><i class="fas fa-bars"></i></a>
     </div>
<div id="header" >
<ul class="nav">                    
    <li><a href="/#/"> Inicio</a></li>

    <li><a>Destinos</a>
        <ul>
            <li><a>Madera</a>        
                <ul>
                    <li><a href="/huapoca/"> Huapoca</a></li>
                </ul>
            </li>
        
            <li class="p-creel"><a>Sierra Tarahumara</a>
                <ul> 
                    <li><a href="/creel/">Creel</a></li>
                    <li><a href="/barrancas/">Barrancas del Cobre</a></li> 
                    <li><a href="/recowata/">Recowata</a></li>  
                </ul>  
            </li>
    </li>         
</ul>
    <li><a href="/registro/">Registrarse</a></li>
    <li><a href="/login/">Iniciar Sesion</a></li>
    <li><a href="/nosotros/">Nosotros</a></li>
    <li><a href="/contacto/">Contacto</a></li>
</div>
</div>
    
<main class="espacio-registro">
<form name="form_registro" action="/guardar/" class="login-pagina mover-registro" method="POST" onsubmit="return enviarFormulario();" >{% csrf_token %}
    
    <input name="nombre" type="text" id="name" class="login-username" autofocus="true" required="true" placeholder="Nombre" />
    <input name="apellido" class="login-username" autofocus="true" required="true" placeholder="Apellidos" />
    <input name="correo"  id="correo" type="email" class="login-username" autofocus="true" required="true" placeholder="Correo electronico" />
    <input name="password" id="contrasenna" type="password" class="login-password" required="true" placeholder="Contraseña" />
    <input name="password_confirm" id="confirm_password" type="password" class="login-password" required="true" placeholder="Confirmar contraseña" />
   <div class="alertas-password">
        <p>Usa 8 o más caracteres con una combinación de letras, números y símbolos</p> 
        <p class="formulario__input-error  msj-verificacion"></p>
       
    </div>
    <input type="submit"  name="Login" value="Registrar" class="login-submit" />
   

    {% if respuesta == "completed" %}
    <script>
        Swal.fire({
        icon: 'success',
        title: 'Usuario Registrado con Exito',
        })
    </script> 
    {% elif respuesta == "error" %}
    <script>
        Swal.fire({
        icon: 'error',
        title: 'Usuario No Regitrado',
        text: 'Intente insertardo nuevamente'
        })
    </script> 
    {% endif %}
   
    <!--<div class="terminos">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1" required>Acepto los terminos y condiciones </label><br>
        <input type="checkbox" id="vehicle1" name="vehicle2" value="Bike">
        <label for="vehicle1" required>Recibir ofertas y promociones por correo</label><br>
    </div>-->
</form>
</main>
  
<footer class="footer seccion">
    <div class="contenedor contenedor-footer">
        <nav class="navegacion">
            <a href="/#/">Inicio</a>
            <a href="/registro/">Registrarse</a>
            <a href="/login/">Iniciar Sesion</a>
            <a href="/nosotros/">Nosotros</a>
            <a href="/contacto/">Contacto</a>
        </nav>
        <p class="copyright">Todos los Derechos Reservados 2020 &copy;</p>
    </div>
</footer>

<script src={% static "SierraWeb/js/jquery.js" %}></script>
<script src={% static "SierraWeb/js/animaciones.js" %}></script>
<script src={% static "SierraWeb/js/confirm_password.js" %}></script>
<script src={% static "SierraWeb/js/validacion_password.js" %}></script>


</body>
</html>
